table{
    border: 1px solid none;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px auto;
    width: 80%;
    background-color: #fff;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
}
th{
    background-color: #ccc;
}
body{
   background-color: antiquewhite;
    background-position: center 20px;
    background-size: cover;
}
th,td{
    width: 15%;
    padding: 8px;
    border: 1px solid none;
    font-size: 15px;
}
img{
    border-radius: 30px;
    width: 40px;
    height: 40px;
    vertical-align: middle;
}
button{
    border-radius: 70px;
    padding: 10px;
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: rgb(19, 253, 175);
    color: green;
    
}
.Cancelled{
    background-color: rgb(226, 148, 148);
    color: red;

}
.Delivered{
    background-color: orange;
    color: black;
}
.Shipped{
    background-color: rgb(57, 216, 236);
    color: black;
}
tr:hover{
    background-color: lightgray;
}
tr:nth-child(2){
    background-color: #cdcdcd;
}
tr:nth-child(4){
    background-color: #cdcdcd;
}
